.details-pane-wrapper {
    position: relative;
    height: inherit;
    overflow: auto;
}
.details-overflow-panel {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    width: 100%;
}