* {
  font-family: 'JetBrains Mono';
  text-transform: uppercase;
}

body {
  background-color: #d2cecb;
}

.badgeContainer {
  margin-top: 2rem;
  font-size: 30px;
}

@font-face {

  font-family: "electroharmonix";
  /*Can be any text*/
  src: local("electroharmonix"),
    url("./fonts/electroharmonix.ttf") format("ttf");
}

#overlay {
  font-family: 'electro';
  font-size: 5rem;
  position: absolute;
  z-index: 100;
  filter: opacity(50%);

}