*{
  font-family: 'JetBrains Mono';
}
body{
  background-color: #d2cecb;  
}

.badgeContainer{
  margin-top: 2rem;
  font-size: 30px;
}

@font-face {
 
}

#overlay{
  font-family: "Medium";   /*Can be any text*/
  src: local("electroharmonix"),
    url("./fonts/electroharmonix.ttf") format("ttf");
  font-size: 5rem;
  position: absolute;
  z-index: 100;
  filter: opacity(50%);

}

